<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Home</title>
    <link rel='stylesheet' href='app.css' />
    {{! Also scripts can be added in public folder and the normal <script src=""></script> syntax can be used }}
  </head>
  <body>
    <h1>This is served from the server</h1>
    <h2>{{message}}</h2>
    <h2>{{user}}</h2>
  </body>
</html>