<div>
    <form action="/student" method="POST">
        <div>
            <label for="name">Name</label>
            <input type="text" id="name" name="name" />
        </div>

        <div>
            <label for="age">Age</label>
            <input type="number" id="age" name="age" />
        </div>

        <div>
            <label for="track">Track</label>
            <select name="track" id="track">
                <option value="NET">.NET</option>
                <option value="JS">Node JS</option>
            </select>
        </div>

        <button type="submit">Submit</button>
    </form>
</div>