<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Products</title>
    <link rel='stylesheet' href='app.css' />
  </head>
  <body>
    <h1>Products list</h1>
    <ul class='product-list'>
      {{#each products}}
        <li>
          <div>Title: {{title}}</div>
          <div>Stock: {{stock}}</div>
          <div>Price: {{price}}</div>
        </li>
      {{/each}}
    </ul>
  </body>
</html>